In [47]:
import pandas as pd
import os
import numpy as np

In [48]:
col_names = ["Location", "Age Group", "TimeFrame", "DataFormat", "Data", "Fips"]
ervisits = pd.read_csv('ervisits.csv', names=col_names, skiprows=9, )
ervisits

,Location,Age Group,TimeFrame,DataFormat,Data,Fips
0,Bayside - Little Neck,5 to 17 Years,2005,Rate,31.1,uhf404
1,Bayside - Little Neck,0 to 17 Years,2005,Number,81.0,uhf404
2,Bedford Stuyvesant - Crown Heights,0 to 4 years,2005,Rate,686.7,uhf203
3,Bedford Stuyvesant - Crown Heights,0 to 4 years,2005,Number,1520.0,uhf203
4,Bedford Stuyvesant - Crown Heights,5 to 17 Years,2005,Number,1785.0,uhf203
...,...,...,...,...,...,...
2872,Willowbrook,0 to 4 years,2016,Number,35.0,uhf503
2873,Willowbrook,0 to 4 years,2016,Rate,75.0,uhf503
2874,Willowbrook,5 to 17 Years,2016,Number,58.0,uhf503
2875,Willowbrook,5 to 17 Years,2016,Rate,44.5,uhf503
2876,Willowbrook,0 to 17 Years,2016,Number,93.0,uhf503

In [49]:
ervisits['Fips'] = ervisits['Fips'].str[3:]
ervisits

,Location,Age Group,TimeFrame,DataFormat,Data,Fips
0,Bayside - Little Neck,5 to 17 Years,2005,Rate,31.1,404
1,Bayside - Little Neck,0 to 17 Years,2005,Number,81.0,404
2,Bedford Stuyvesant - Crown Heights,0 to 4 years,2005,Rate,686.7,203
3,Bedford Stuyvesant - Crown Heights,0 to 4 years,2005,Number,1520.0,203
4,Bedford Stuyvesant - Crown Heights,5 to 17 Years,2005,Number,1785.0,203
...,...,...,...,...,...,...
2872,Willowbrook,0 to 4 years,2016,Number,35.0,503
2873,Willowbrook,0 to 4 years,2016,Rate,75.0,503
2874,Willowbrook,5 to 17 Years,2016,Number,58.0,503
2875,Willowbrook,5 to 17 Years,2016,Rate,44.5,503
2876,Willowbrook,0 to 17 Years,2016,Number,93.0,503

In [50]:
ervisits['Fips'] = ervisits['Fips'].astype(int)
ervisits

,Location,Age Group,TimeFrame,DataFormat,Data,Fips
0,Bayside - Little Neck,5 to 17 Years,2005,Rate,31.1,404
1,Bayside - Little Neck,0 to 17 Years,2005,Number,81.0,404
2,Bedford Stuyvesant - Crown Heights,0 to 4 years,2005,Rate,686.7,203
3,Bedford Stuyvesant - Crown Heights,0 to 4 years,2005,Number,1520.0,203
4,Bedford Stuyvesant - Crown Heights,5 to 17 Years,2005,Number,1785.0,203
...,...,...,...,...,...,...
2872,Willowbrook,0 to 4 years,2016,Number,35.0,503
2873,Willowbrook,0 to 4 years,2016,Rate,75.0,503
2874,Willowbrook,5 to 17 Years,2016,Number,58.0,503
2875,Willowbrook,5 to 17 Years,2016,Rate,44.5,503
2876,Willowbrook,0 to 17 Years,2016,Number,93.0,503

In [64]:
ervisits.to_json(r'/Users/tajahneiwilliams/Documents/Project2/static/data/ervisits_zipcodes.json', orient='records')

In [52]:
fipscombined_df = ervisits.merge(uhf_zipcode_crosswalk_df, how='inner', on='Fips')

fipscombined_df = fipscombined_df.dropna()
# new data frame with split value columns 
##fipscombined_df[' Zipcode']= fipscombined_df[' Zipcode'].str.split(",", n = -1, expand = True) 
  
# new data frame with split value columns 
#zipcode_split = fipscombined_df[" Zipcode"].str.split(", ", n = 9, expand = True) 
  

#zipcode_split
fipscombined_df

,Location,Age Group,TimeFrame,DataFormat,Data,Fips,Borough,NTA_Name,Zipcode
0,Bayside - Little Neck,5 to 17 Years,2005,Rate,31.1,404,Queens,Bayside - Little Neck,"11361, 11362, 11363, 11364"
1,Bayside - Little Neck,0 to 17 Years,2005,Number,81.0,404,Queens,Bayside - Little Neck,"11361, 11362, 11363, 11364"
2,Bayside - Little Neck,0 to 4 years,2006,Rate,91.6,404,Queens,Bayside - Little Neck,"11361, 11362, 11363, 11364"
3,Bayside - Little Neck,0 to 4 years,2006,Number,38.0,404,Queens,Bayside - Little Neck,"11361, 11362, 11363, 11364"
4,Bayside - Little Neck,5 to 17 Years,2006,Number,52.0,404,Queens,Bayside - Little Neck,"11361, 11362, 11363, 11364"
...,...,...,...,...,...,...,...,...,...
2512,Willowbrook,0 to 4 years,2016,Number,35.0,503,Staten Island,Willowbrook,10314
2513,Willowbrook,0 to 4 years,2016,Rate,75.0,503,Staten Island,Willowbrook,10314
2514,Willowbrook,5 to 17 Years,2016,Number,58.0,503,Staten Island,Willowbrook,10314
2515,Willowbrook,5 to 17 Years,2016,Rate,44.5,503,Staten Island,Willowbrook,10314
2516,Willowbrook,0 to 17 Years,2016,Number,93.0,503,Staten Island,Willowbrook,10314

In [53]:
zipcodes_df = pd.read_csv('nycZipCodes.csv')

In [54]:
zipcodes_df = zipcodes_df.dropna(axis=1, how="any", inplace=False)

In [55]:
zipcodes_df = zipcodes_df.rename(columns={"postalcode": " Zipcode"})
zipcodes_df

,geometry,coordinates,cartodb_id,objectid,Zipcode,po_name,state,borough,st_fips,cty_fips,bldgpostalcode,shape_leng,shape_area,id
0,MultiPolygon,"-73.840759,40.625364,-73.843062,40.627933,-73....",173,173,11693,Far Rockaway,NY,Brooklyn,36,47,0,9479.917277,3.497516e+06,http://nyc.pediacities.com/Resource/PostalCode...
1,MultiPolygon,"-73.915441,40.875591,-73.915087,40.876496,-73....",48,48,10463,Bronx,NY,Manhattan,36,61,0,7791.517127,3.119702e+06,http://nyc.pediacities.com/Resource/PostalCode...
2,MultiPolygon,"-73.932131,40.869451,-73.931277,40.868844,-73....",51,51,10033,New York,NY,Manhattan,36,61,0,29415.607123,1.615605e+07,http://nyc.pediacities.com/Resource/PostalCode...
3,MultiPolygon,"-73.837608,40.743238,-73.835162,40.743338,-73....",120,120,11367,Flushing,NY,Queens,36,81,0,33506.126605,7.281015e+07,http://nyc.pediacities.com/Resource/PostalCode...
4,MultiPolygon,"-73.880111,40.837234,-73.877472,40.836564,-73....",64,64,10472,Bronx,NY,Bronx,36,5,0,27006.042411,3.096325e+07,http://nyc.pediacities.com/Resource/PostalCode...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,MultiPolygon,"-73.974075,40.759256,-73.973895,40.759507,-73....",199,199,10055,New York,NY,Manhattan,36,61,1,842.265584,3.722354e+04,http://nyc.pediacities.com/Resource/PostalCode...
258,MultiPolygon,"-73.979243,40.762827,-73.97953,40.762948,-73.9...",200,200,10105,New York,NY,Manhattan,36,61,1,769.015786,3.542216e+04,http://nyc.pediacities.com/Resource/PostalCode...
259,MultiPolygon,"-73.986732,40.748571,-73.986554,40.74881,-73.9...",201,201,10118,New York,NY,Manhattan,36,61,1,1392.546380,9.173372e+04,http://nyc.pediacities.com/Resource/PostalCode...
260,MultiPolygon,"-73.978695,40.755496,-73.978479,40.755407,-73....",202,202,10176,New York,NY,Manhattan,36,61,1,590.377333,1.828909e+04,http://nyc.pediacities.com/Resource/PostalCode...
261,MultiPolygon,"-73.951328,40.76931,-73.951652,40.769446,-73.9...",203,203,10162,New York,NY,Manhattan,36,61,1,624.792615,2.103489e+04,http://nyc.pediacities.com/Resource/PostalCode...

In [56]:
uhf_zipcode_crosswalk_df = pd.read_csv('uhf_zipcode_crosswalk.csv')
uhf_zipcode_crosswalk_df

,Fips,Borough,NTA_Name,Zipcode
0,101,Bronx,Kingsbridge - Riverdale,"10463, 10471"
1,102,Bronx,Northeast Bronx,"10466, 10469, 10470, 10475"
2,103,Bronx,Fordham - Bronx Park,"10458, 10467, 10468"
3,104,Bronx,Pelham - Throgs Neck,"10461, 10462, 10464, 10465, 10472, 10473"
4,105,Bronx,Crotona - Tremont,"10453, 10457, 10460"
5,106,Bronx,High Bridge - Morrisania,"10451, 10452, 10456"
6,107,Bronx,Hunts Point - Mott Haven,"10454, 10455, 10459, 10474"
7,201,Brooklyn,Greenpoint,"11211, 11222"
8,202,Brooklyn,Downtown - Heights - Park Slope,"11201, 11205, 11215, 11217, 11231"
9,203,Brooklyn,Bedford Stuyvesant - Crown Heights,"11213, 11212, 11216, 11233, 11238"
10,204,Brooklyn,East New York,"11207, 11208"
11,205,Brooklyn,Sunset Park,"11220, 11232"
12,206,Brooklyn,Borough Park,"11204, 11218, 11219, 11230"
13,207,Brooklyn,East Flatbush - Flatbush,"11203, 11210, 11225, 11226"
14,208,Brooklyn,Canarsie - Flatlands,"11234, 11236, 11239"
15,209,Brooklyn,Bensonhurst - Bay Ridge,"11209, 11214, 11228"
16,210,Brooklyn,Coney Island - Sheepshead Bay,"11223, 11224, 11229, 11235"
17,211,Brooklyn,Williamsburg - Bushwick,"11206, 11221, 11237"
18,301,Manhattan,Washington Heights - Inwood,"10031, 10032, 10033, 10034, 10040"
19,302,Manhattan,Central Harlem - Morningside Heights,"10026, 10027, 10030, 10037, 10039"
20,303,Manhattan,East Harlem,"10029, 10035"
21,304,Manhattan,Upper West Side,"10023, 10024, 10025"
22,305,Manhattan,Upper East Side,"10021, 10028, 10044, 10128"
23,306,Manhattan,Chelsea - Clinton,"10001, 10011, 10018, 10019, 10020, 10036"
24,307,Manhattan,Gramercy Park - Murray Hill,"10010, 10016, 10017, 10022"
25,308,Manhattan,Greenwich Village - SoHo,"10012, 10013, 10014"
26,309,Manhattan,Union Square - Lower East Side,"10002, 10003, 10009"
27,310,Manhattan,Lower Manhattan,"10004, 10005, 10006, 10007, 10038, 10280"
28,401,Queens,Long Island City - Astoria,"11101, 11102, 11103, 11104, 11105, 11106"
29,402,Queens,West Queens,"11368, 11369, 11370, 11372, 11373, 11377, 11378"
30,403,Queens,Flushing - Clearview,"11354, 11355, 11356, 11357, 11358, 11359, 11360"
31,404,Queens,Bayside - Little Neck,"11361, 11362, 11363, 11364"
32,405,Queens,Ridgewood - Forest Hills,"11374, 11375, 11379, 11385"
33,406,Queens,Fresh Meadows,"11365, 11366, 11367"
34,407,Queens,Southwest Queens,"11414, 11415, 11416, 11417, 11418, 11419, 1142..."
35,408,Queens,Jamaica,"11412, 11423, 11432, 11433, 11434, 11435, 11436"
36,409,Queens,Southeast Queens,"11004, 11005, 11411, 11413, 11422, 11426, 1142..."
37,410,Queens,Rockaway,"11691, 11692, 11693, 11694, 11695, 11697"
38,501,Staten Island,Port Richmond,"10302, 10303, 10310"
39,502,Staten Island,Stapleton - St. George,"10301, 10304, 10305"
40,503,Staten Island,Willowbrook,10314
41,504,Staten Island,South Beach - Tottenville,"10306, 10307, 10308, 10309, 10312"