In [2]:
import pandas as pd
import os
import numpy as np

In [3]:
col_names = ["Location", "Age Group", "TimeFrame", "DataFormat", "Data", "Fips"]
ervisits = pd.read_csv('ervisits.csv', names=col_names, skiprows=9, )
ervisits

,Location,Age Group,TimeFrame,DataFormat,Data,Fips
0,Bayside - Little Neck,5 to 17 Years,2005,Rate,31.1,uhf404
1,Bayside - Little Neck,0 to 17 Years,2005,Number,81.0,uhf404
2,Bedford Stuyvesant - Crown Heights,0 to 4 years,2005,Rate,686.7,uhf203
3,Bedford Stuyvesant - Crown Heights,0 to 4 years,2005,Number,1520.0,uhf203
4,Bedford Stuyvesant - Crown Heights,5 to 17 Years,2005,Number,1785.0,uhf203
...,...,...,...,...,...,...
2872,Willowbrook,0 to 4 years,2016,Number,35.0,uhf503
2873,Willowbrook,0 to 4 years,2016,Rate,75.0,uhf503
2874,Willowbrook,5 to 17 Years,2016,Number,58.0,uhf503
2875,Willowbrook,5 to 17 Years,2016,Rate,44.5,uhf503
2876,Willowbrook,0 to 17 Years,2016,Number,93.0,uhf503

In [4]:
##Bayside - LittleNeck
##ervisits['Zip Code'] = np.where(ervisits['Fips']=='uhf404', '11361, 11362, 11363, 11364, 11365, 11366, 11367', 'no')

In [5]:
def set_zipcode(row):
    if row["Fips"] == "uhf101":
        return "11361, 11362, 11363, 11364, 11365, 11366, 11367"
    elif row["Fips"] == "uhf102":
        return "10466, 10469, 10470, 10475"
    elif row["Fips"] == "uhf103":
        return "10458, 10467, 10468"
    elif row["Fips"] == "uhf104":
        return "10461, 10462, 10464, 10465, 10472, 10473"
    elif row["Fips"] == "uhf105":
        return "10451, 10452, 10453, 10454, 10455, 10456, 10457, 10459, 10460, 10461"
    elif row["Fips"] == "uhf106":
        return "10451, 10452, 10453, 10454, 10455, 10456, 10457, 10459, 10460, 10461"
    elif row["Fips"] == "uhf107":
        return "10451, 10452, 10453, 10454, 10455, 10456, 10457, 10459, 10460, 10461"
    elif row["Fips"] == "uhf201":
        return "11211, 11222"
    elif row["Fips"] == "uhf202":
        return "11201, 11205, 11215, 11217, 11231"
    elif row["Fips"] == "uhf203":
        return "11212, 11213, 11216, 11233, 11238"
    elif row["Fips"] == "uhf204":
        return "11207, 11208"
    elif row["Fips"] == "uhf205":
        return "11220, 11232"
    elif row["Fips"] == "uhf206":
        return "11204, 11218, 11219, 11230"
    elif row["Fips"] == "uhf207":
        return "11203, 11210, 11225, 11226"
    elif row["Fips"] == "uhf208":
        return "11234, 11236, 11239"
    elif row["Fips"] == "uhf209":
        return "11209, 11214, 11228"
    elif row["Fips"] == "uhf210":
        return "11223, 11224, 11229, 11235"
    elif row["Fips"] == "uhf211":
        return "11206, 11221, 11237"
    elif row["Fips"] == "uhf301":
        return "10031, 10032, 10033, 10034, 10040"
    elif row["Fips"] == "uhf302":
        return "10026, 10027, 10030, 10037, 10039"
    elif row["Fips"] == "uhf303":
        return "10029, 10035"
    elif row["Fips"] == "uhf304":
        return "10023, 10024, 10025, 10069"
    elif row["Fips"] == "uhf305":
        return "10010, 10016, 10017, 10021, 10022, 10028, 10044, 10065, 10075, 10128, 10162, 10165, 10170, 10171"
    elif row["Fips"] == "uhf306":
        return "10001, 10011, 10012, 10013, 10014, 10018, 10019, 10020, 10036"
    elif row["Fips"] == "uhf307":
        return "10010, 10016, 10017, 10021, 10022, 10028, 10044, 10065, 10075, 10128, 10162, 10165, 10170, 10171"
    elif row["Fips"] == "uhf308":
        return "10001, 10011, 10012, 10013, 10014, 10018, 10019, 10020, 10036"
    elif row["Fips"] == "uhf309":
        return "10002, 10003, 10004, 10005, 10006, 10007, 10009, 10038, 10048, 10280, 10282"
    elif row["Fips"] == "uhf310":
        return "10002, 10003, 10004, 10005, 10006, 10007, 10009, 10038, 10048, 10280, 10282"
    elif row["Fips"] == "uhf401":
        return "11101, 11102, 11103, 11104, 11105, 11106, 11109"
    elif row["Fips"] == "uhf402":
        return "11368, 11369, 11370, 11372, 11373, 11377, 11378"
    elif row["Fips"] == "uhf403":
        return "11354, 11355, 11356, 11357, 11358, 11359, 11360"
    elif row["Fips"] == "uhf404":
        return "11361, 11362, 11363, 11364, 11365, 11366, 11367"
    elif row["Fips"] == "uhf405":
        return "11374, 11375, 11379, 11385"
    elif row["Fips"] == "uhf406":
        return "11361, 11362, 11363, 11364, 11365, 11366, 11367"
    elif row["Fips"] == "uhf407":
        return "11414, 11415, 11416, 11417, 11418, 11419, 11420, 11421"
    elif row["Fips"] == "uhf408":
        return "11412, 11423, 11430, 11432, 11433, 11434, 11435, 11436"
    elif row["Fips"] == "uhf409":
        return "11001, 11004, 11005, 11040, 11411, 11413, 11422, 11426, 11427, 11428, 11429"
    elif row["Fips"] == "uhf410":
        return "11691, 11692, 11693, 11694, 11697"
    elif row["Fips"] == "uhf501":
        return "10301, 10302, 10303, 10304, 10305, 10310"
    elif row["Fips"] == "uhf502":
        return "10301, 10302, 10303, 10304, 10305, 10310"
    elif row["Fips"] == "uhf503":
        return "10306, 10307, 10308, 10309, 10312, 10314"
    elif row["Fips"] == "uhf504":
        return "10306, 10307, 10308, 10309, 10312, 10314"
    else:
        return "N/A"

ervisits = ervisits.assign(zipcode=ervisits.apply(set_zipcode, axis=1))

ervisits

,Location,Age Group,TimeFrame,DataFormat,Data,Fips,zipcode
0,Bayside - Little Neck,5 to 17 Years,2005,Rate,31.1,uhf404,"11361, 11362, 11363, 11364, 11365, 11366, 11367"
1,Bayside - Little Neck,0 to 17 Years,2005,Number,81.0,uhf404,"11361, 11362, 11363, 11364, 11365, 11366, 11367"
2,Bedford Stuyvesant - Crown Heights,0 to 4 years,2005,Rate,686.7,uhf203,"11212, 11213, 11216, 11233, 11238"
3,Bedford Stuyvesant - Crown Heights,0 to 4 years,2005,Number,1520.0,uhf203,"11212, 11213, 11216, 11233, 11238"
4,Bedford Stuyvesant - Crown Heights,5 to 17 Years,2005,Number,1785.0,uhf203,"11212, 11213, 11216, 11233, 11238"
...,...,...,...,...,...,...,...
2872,Willowbrook,0 to 4 years,2016,Number,35.0,uhf503,"10306, 10307, 10308, 10309, 10312, 10314"
2873,Willowbrook,0 to 4 years,2016,Rate,75.0,uhf503,"10306, 10307, 10308, 10309, 10312, 10314"
2874,Willowbrook,5 to 17 Years,2016,Number,58.0,uhf503,"10306, 10307, 10308, 10309, 10312, 10314"
2875,Willowbrook,5 to 17 Years,2016,Rate,44.5,uhf503,"10306, 10307, 10308, 10309, 10312, 10314"
2876,Willowbrook,0 to 17 Years,2016,Number,93.0,uhf503,"10306, 10307, 10308, 10309, 10312, 10314"

In [6]:
ervisits.to_csv(r'/Users/tajahneiwilliams/Documents/Project2/static/data/ervisits_zipcodes.csv', index=False)